.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.error img {
    width: 200px;
}

.error h1 {
    margin: 10px 0;
    padding: 0;
}

.error p {
    margin: 0;
    padding: 0;
}

@media (max-width: 400px) {
    .error h1 {
        font-size: 26px;
    }
}